@media screen and (max-width: 450px) {
    html, body{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0%;
        padding: 0%;
        scroll-behavior: smooth;
    }
    .div-fixed{
        background-color: #d4d4d4;
        position: fixed;
        top: 0vh;
        left: 0%;
        width: 100%;
        height: 100vh;
    }
    /* div de la tete fixe */
    .div-tete{
        background-color: #d4d4d4;
        position: fixed;
        top: 0vh;
        left: 0%;
        width: 100%;
        height: 15vh;
    }
    .mon-logo{
        position: absolute;
        top: 5%;
        left: 40%;
        width: 20%;
        height: 60%;
    }
    .div-liens{
        background-color: #d4d4d4;
        position: absolute;
        top: 60%;
        left: 15%;
        width: 70%;
        height: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    a{
        color: #606060;
        text-decoration: none;
        font-size: 12px;
        margin-top: 3%;
    }
    a:hover{
        color: white;
    }
    /* nav */
    nav{
        background-color: #606060;
        /*background-color: #342568;*/
        position: absolute;
        top: 0vh;
        left: 0%;
        width: 100%;
        height: 100vh;
    }
    .div-nav{
        background-color: #606060;
        /*background-color: #342568;*/
        position: absolute;
        top: 0vh;
        left: 0%;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        opacity: 0.7;
    }
    .photo-fond{
        margin-top: 0%;
        width: 95%;
    }
    h1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #d4d4d4;
        font-size: 15px;
    }
    /* about */
    aside{
        background-color: #2e2e4e;
        position: absolute;
        top: 100vh;
        left: 0%;
        width: 100%;
        height: 100vh;
    }
    /* affichage none */
    .div-aside-droite{
        background-color: #606060;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 50%;
        height: 30%;
        border-bottom-right-radius: 100%;
    }
    .div-aside-droite-1{
        background-color: #606060;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        border-bottom-right-radius: 100%;
        opacity: 0.8;
    }
    .div-about{
        background-color: transparent;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
    }
    .contenu-about{
        background-color: transparent;
        width: 100%;
        height: 80%;
    }
    .p-about{
        color: #989898;
        margin-top: 2%;
        margin-left: 1%;
        margin-right: 1%;
        font-size: 11px;
    }
    .contenu-invisible{
        opacity: 0;
        transform: translateX(-150px);
    }
    .contenu-visible{
        opacity: 1;
        transform: translateY(0);
        transition: 1.5s cubic-bezier(.5, 0, 0, 1);
    }
    h3{
        color: #d4d4d4;
        text-align: center;
        margin-top: 10%;
        font-size: 15px;
    }
    /* competences */
    section{
        background-color: #2e2e4e;
        position: absolute;
        top: 200vh;
        left: 0%;
        width: 100%;
        height: 100vh;
    }
    .div-competences{
        background-color: transparent;
        position: absolute;
        top: 15%;
        left: 0%;
        width: 100%;
        height: 70%;
        display: flex;
        flex-wrap: wrap;
    }
    .h3-competence{
        margin-top: 7%;
    }
    /* c'est pour ne pas avoir l'effet de la visiblité lors de scroll */
    #p-comp{
        opacity: 1;
        transform: translateY(0);
        transition: 1.5s cubic-bezier(.5, 0, 0, 1);
    }
    #p-comp-1{
        opacity: 1;
        transform: translateY(0);
        transition: 1.5s cubic-bezier(.5, 0, 0, 1);
    }
    .competence{
        background-color: transparent;
        margin-right: 3%;
        margin-top: 2%;
        border-radius: 75px;
        width: 65px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .competence:hover{
        width: 68px;
        height: 68px;
        border-radius: 75px;
        margin-left: 1%;
        margin-right: 0.5%;
    }
    .p-competence{
        font-size: 12px;
        color: #989898;
    }
    /* contacts */
    article{
        background-color: #606060;
        position: absolute;
        top: 300vh;
        left: 0%;
        width: 100%;
        height: 100vh;
    }
    .image-contact{
        width: 80px;
        height: 80px;
        margin-top: 16%;
        border-radius: 100px;
        transform: rotate(80deg);
        -webkit-animation-name: changer-position;
        -webkit-animation-duration: 4s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-delay: 1s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
    
        -moz-animation-name: changer-position;
        -moz-animation-duration: 4s;
        -moz-animation-timing-function: linear;
        -moz-animation-delay: 1s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-direction: alternate;
    
        -o-animation-name: changer-position;
        -o-animation-duration: 4s;
        -o-animation-timing-function: linear;
        -o-animation-delay: 1s;
        -o-animation-iteration-count: infinite;
        -o-animation-direction: alternate;
    
        animation-name: changer-position;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    @-webkit-keyframes changer-position{
        0%{transform: rotate(80deg);}
        10%{transform: rotate(90deg);}
        20%{transform: rotate(100deg);}
        30%{transform: rotate(110deg);}
        40%{transform: rotate(120deg);}
        50%{transform: rotate(130deg);}
        60%{transform: rotate(120deg);}
        70%{transform: rotate(110deg);}
        80%{transform: rotate(100deg);}
        90%{transform: rotate(90deg);}
        100%{transform: rotate(80deg);}
    }
    @-moz-keyframes changer-position{
        0%{transform: rotate(80deg);}
        10%{transform: rotate(90deg);}
        20%{transform: rotate(100deg);}
        30%{transform: rotate(110deg);}
        40%{transform: rotate(120deg);}
        50%{transform: rotate(130deg);}
        60%{transform: rotate(120deg);}
        70%{transform: rotate(110deg);}
        80%{transform: rotate(100deg);}
        90%{transform: rotate(90deg);}
        100%{transform: rotate(80deg);}
    }
    @-o-keyframes changer-position{
        0%{transform: rotate(80deg);}
        10%{transform: rotate(90deg);}
        20%{transform: rotate(100deg);}
        30%{transform: rotate(110deg);}
        40%{transform: rotate(120deg);}
        50%{transform: rotate(130deg);}
        60%{transform: rotate(120deg);}
        70%{transform: rotate(110deg);}
        80%{transform: rotate(100deg);}
        90%{transform: rotate(90deg);}
        100%{transform: rotate(80deg);}
    }
    @keyframes changer-position{
        0%{transform: rotate(80deg);}
        10%{transform: rotate(90deg);}
        20%{transform: rotate(100deg);}
        30%{transform: rotate(110deg);}
        40%{transform: rotate(120deg);}
        50%{transform: rotate(130deg);}
        60%{transform: rotate(120deg);}
        70%{transform: rotate(110deg);}
        80%{transform: rotate(100deg);}
        90%{transform: rotate(90deg);}
        100%{transform: rotate(80deg);}
    }
    /* la separation de competences et contects */
    .div-separation{
        display: none;
    }
    .div-rotat-1{
        display: none;
    }
    .div-rotat-2{
        display: none;
    }
    /* la div qui contient les reseaux sociaux et les contacts */
    .div-article{
        background-color: #606060;
        position: absolute;
        top: 0%;
        left: 5%;
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    /* la div qui contient les contenus */
    .div-rejoint{
        background-color: #606060;
        width: 100%;
        height: 50%;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    /* la div contact */
    .div-contact{
        background-color: #606060;
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    /* la div numeros */
    .div-num{
        background-color: #606060;
        width: 60%;
        height: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    /* la div code du pays */
    .div-code{
        background-color: #606060;
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    /* h3 code du pays */
    h4{
        color: #989898;
        margin-top: 25%;
    }
    /* la div contenus numeros */
    .div-numeros{
        background-color: #606060;
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .p-contact{
        color: #989898;
        margin-top: 0%;
        font-size: 12px;
    }
    /* la div contenu reseaux sociaux */
    .div-contenus-reseaux-sociaux{
        background-color: #606060;
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    /* la div logo et contenu */
    .div-logo-contenu{
        background-color: #606060;
        width: 80%;
        height: 20%;
        margin-left: 10%;
        display: flex;
        flex-direction: row;
    }
    /* logo */
    .logo{
        width: 30px;
        height: 30px;
        margin-left: 10%;
        margin-top: 0%;
        font-size: 12px;
    }
    .p-logo{
        color: #989898;
        margin-top: 3%;
        margin-left: 15%;
    }
    .div-haut{
        display: none;
    }
    .p-haut{
        display: none;
    }
    /* footer */
    footer{
        background-color: #d4d4d4;
        position: absolute;
        left: 0%;
        top: 400vh;
        bottom: 0%;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .p-footer{
        color: #989898;
        font-size: 11px;
    }


    /* la boite modal pour se connecté */
    .div-auth{
        position: fixed;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 100%;
        background: rgba(156, 149, 149, 0.7);
    }
    .div-modale-login{
        overflow: auto;
        background-color: #d4d4d4;
        position: absolute;
        top: 30%;
        left: 5%;
        width: 90%;
        height: 40%;
    }
    .div-real{
        position: absolute;
        top: 30%;
        left: 8%;
        width: 90%;
        height: 60%;
    }
    .p-id{
        text-align: center;
        font-size: 18px;
    }
    .close{
        position: absolute;
        background-color: #606060;
        top: 75%;
        left: 25%;
        width: 50%;
        height: 13%;
    }
}